/* hides the menu/URL bar */
#main-window:not([customizing]) #navigator-toolbox:not(:focus-within):not(:hover) {
  margin-top: -45px;
}

/* hides arrows */
#back-button,
#forward-button {
    display: none!important;
}

 /* tabs bar */
#TabsToolbar {
  margin-top: -1px !important;
  margin-bottom: 1px !important;
  margin-left: 23vw !important;
  max-height: 34px !important;
  padding-inline-start: 40px !important;
  /*visibility: collapse !important;*/
}

/* nav bar*/
#nav-bar {
  background: transparent !important;
  margin-top: -34px !important;
  margin-bottom: -1px !important;
  margin-right: 75vw !important;
  height: 34px !important;
}

/* URL bar */
#urlbar-container {
  min-width: 100px !important;
}

#urlbar {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* hamburger menu */
#PanelUI-button {
  -moz-box-ordinal-group: 0;
  border-left: none !important;
  position: absolute;
}